.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem auto;
  max-width: 90%;
}

.card img {
  /* max-height: 200px;
  max-width: 200px; */
  width: 200px;
  height: 200px;
}

.card {
  /* background-color: peachpuff; */
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h3 {
  text-align: center;
  /* margin-top: auto; */
  justify-self: flex-end;
}
